.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid #565656;
  border-radius: 8px;
  padding: 8px 16px;
}

.details p {
  font-size: 14px;
}

.details span {
  font-weight: bold;
}
